<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Reward</title>
</head>
<body>
<h2>Create new reward</h2>
<form th:action="@{/createReward}" th:object="${reward}" method="post">
    <p>Name <input type="text" name="name" id="name" th:field="*{name}"/></p>
    <p>Description<textarea type="" name="description" id="description" th:field="*{description}"/></p>
    <p>Price<input type="text" name="price" id="price" th:value="*{price}"/></p>
    <p>Level required<input type="text" name="levelRequired" id="levelRequired"  th:value="*{levelRequired}"/></p>
    <p>Due date<input type="date" name="endDate" id="endDate"  th:value="*{endDate}"/></p>
    <input type="submit" value="Create"/>
</form>
</body>
</html>