<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div >

    <form method="POST" th:action="@{/login}">
        <table>
            <tr>
                <td>Email</td>
                <td><input type="email" id="email" name="email"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" id="password" name="password"/></td>
            </tr>
            <tr>
                <td><button type="submit">Login</button></td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>