<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parent</title>
</head>
<body>
<div>
    <img src="img/mundus.png" width = "100" height = "100">
    <p>DashBoard</p>
    <button>Log Out</button>
</div> <br>

<div>
    <button id="TaskLog" type="submit">TaskLog</button> <br>
    <button id="Rewards" type="submit">Rewards</button> <br>
    <button id="AddTask" type="submit">AddTask</button> <br>
    <button id="Help" type="submit">Help</button>
</div>

<div>
    <p>Quests</p>
</div>

<div>
    <p>Pending</p>
</div>

<div>
    <p>Finished</p>
</div>

</body>
</html>