<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Select</title>
</head>
<body>
<h2>MUNDUS</h2>
<div >
   <!-- <div th:each="person : ${persons}">
        <h2 th:text="${person.name}"></h2>
        <form method="POST" th:action="@{/pin-page}">
            <input type="hidden" name="id"  th:value="${person.id}" />
            <button type="submit" name="submit" value="value" class="link-button">This is a link that sends a POST request</button>
        </form>
    </div> -->
    <form>
        <button type="submit" name="loginUser"  class="link-button">Admin</button>
        <button type="submit" name="loginUser"  class="link-button">+</button>
    </form>
</div>
</body>
</html>