<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MUNDUS - LogIn Template</title>
  </head>
  <body>
      <img src="../img/mundus.png" width = "100" height = "100">
    <p>Who has a quest?</p>
    <form>
      <button><img src="../img/user.png" width="50" height="50"></button>
      <p>Admin</p>
    </form>
    <form>
    </form>
  </body>
</html>