html {
    font-family: 'Nova Flat';
}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 140px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #633e10;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    border: solid #e1b01e;
    border-width: 8px;
    /* margin-right: 0px; */
}

li {
    list-style: none;
}

main {
    display: flex;
    /* margin-left: 150px; Same as the width of the sidebar */
    padding: 0px 10px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #154074;
    position: fixed;
    /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    /* background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(21,64,116,1) 0%, rgba(15,108,158,1) 100%, rgba(0,212,255,1) 100%); */
    background-image: url("../img/wood.jpg");
    /* background-size: 1400px 900px; */
    background-size: 150px 150px;
    background-position: bottom;
    justify-content: center;
}

body {
    margin: 0px;
}

.header {
    /* margin-left: 160px; Same as the width of the sidebar */
    position: fixed;

    /* background: #633e10; */
    background: rgb(129,44,5);
    background: linear-gradient(0deg, rgba(129,44,5,1) 0%, rgba(125,55,6,1) 100%);
    /* background: black; */
    /* border: solid #e1b01e; */
    border-bottom: solid rgb(231,162,35);
    border: radial-gradient(circle, rgba(231,162,35,1) 49%, rgba(231,162,35,1) 51%, rgba(231,162,35,1) 67%, rgba(208,59,18,0.8578781854538691) 100%);;
    border-width: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    margin-top: 0px;
    padding-top: 0px;
    /* padding: 10px; */
    /* background-image: url("bolt.png");
    background-position: center;
    background-size: 30px;
    background-repeat: repeat-x; */

}

.Logo {
    background-image: url('mundusLogo2.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer {
    position: fixed;
    bottom: 0;
    /* background: #633e10; */
    background: rgb(129,44,5);
    background: linear-gradient(0deg, rgba(129,44,5,1) 0%, rgba(125,55,6,1) 100%);
    /* background: rgb(0, 0, 0); */
    /* border-top: solid #e1b01e; */
    border-top: solid rgb(231,162,35);
    border: radial-gradient(circle, rgba(231,162,35,1) 49%, rgba(231,162,35,1) 51%, rgba(231,162,35,1) 67%, rgba(208,59,18,0.8578781854538691) 100%);;

    border-width: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
    margin-top: 0px;
    padding-top: 0px;

}

.Mundus {
    color: rgb(231,162,35);
    font-weight: 1000;
    font-size: 2rem;
}

.Person {
    color: rgb(231,162,35);
    font-weight: 1000;
    font-size: 1.5rem;
}

.header__points {
    width: 100%;
    /* border: solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.header__point {
    color: rgb(231,162,35);
    font-weight: 1000;
    border: solid rgb(231,162,35);
    border-radius: 20px;
    padding: 5px;
    background: rgb(31,3,98);
    background: radial-gradient(circle, rgba(31,3,98,1) 57%, rgba(37,36,128,1) 100%);
}

.link {
    text-decoration: none;
    color: rgb(231,162,35);
}

.header__point .Mundus {
    color: rgb(231,162,35);
    font-weight: 1500;
    border: solid rgb(231,162,35);
    border-radius: 50px;
    padding: 50px;
    background: rgb(31,3,98);
    background: radial-gradient(circle, rgba(31,3,98,1) 57%, rgba(37,36,128,1) 100%);
}

/*===========Body==========*/
.body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 80%;

}

/*==========Create Quest From=========*/
.container{

    border-width: 5px;
    width: 50%;
    height: 75%;
    background-image: url("../img/scroll.png");
    background-size: 120% 120%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}
.button{
    background-color: #e1b01e;
    background-image: linear-gradient(to bottom, #fce374, #e1b01e);
    border: 1px solid #c9ae34;
    box-shadow: inset 0 1px 0 #fff6ce, inset 0 -1px 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #633e10;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.createQuest-title{
    margin-top: 70px;
}





