<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h2>Create Champion</h2>
<div >
    <form>
        <input type="text" name="Username" value="username"> <br>
        <br>
        <input type="text" name="Username" value="Select Pin"> <br>
        <input type="text" name="Username" value="Confirm Pin"> <br>
        <button type="submit" name="loginUser"  class="link-button">Add icon</button>

        <br>

        <button type="submit" name="loginUser"  class="link-button">Cancel</button>
        <button type="submit" name="loginUser"  class="link-button">Confirm</button>


    </form>
</div>
</body>
</html>