<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org" lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quests</title>
    <link rel="stylesheet" th:href="@{/css/stylesMarketplaceChild.css}">
</head>

<body>

<header class="header">
    <ul class="header__points">
        <li class="Mundus">MUNDUS</li>
        <li class="header__point"><a th:href="@{quests}" class = "link">Quest Log</a></li>
        <li class="header__point"><a th:href="@{marketplace}" class = "link">Marketplace</a></li>
        <li class="header__point"><a th:href="@{logoutPerson}" class = "link">Switch Adventurer</a> </li>
        <li class="header__point"><a th:href="@{logoutAccount}" class = "link">Log Out</a> </li>
    </ul>
</header>


<main class="main">
    <div class="reward-body">

        <div class="reward-view">
            <div class="reward-content__title">
                <h2 class="reward-view__title title">Your Rewards</h2>
            </div>

            <div th:each="reward : ${#lists.sort(ownrewards)}" class="reward__view">
                <h3 th:text="${reward.name}" class="reward__title"></h3>
                <div class="reward__content">
                    <p th:text="${reward.description}" class="reward__text"></p>
                    <!--<p th:text="${reward.endDate}" class="reward__date"></p>-->
                </div>
            </div>


        </div>

        <div class="reward-content">
            <div class="reward-content__title">
                <h2 class="reward-view__title title">What do you need?</h2>
            </div>
            <div class="reward-container">
                <div th:each="reward : ${#lists.sort(rewards)}" class="reward">
                    <h3 th:text="${reward.name}" class="reward__title"></h3>
                    <div class="reward__content">
                        <p th:text="${reward.description}" class="reward__text"></p>
                        <!--<p th:text="${reward.endDate}" class="reward__date"></p>-->
                        <p th:text="'Level required: ' + ${reward.levelRequired}" class="reward__level"></p>
                    </div>
                    <form class="reward__footer" method="POST" th:action="@{/purchaseReward}">
                        <input type="hidden" name="id" th:value="${reward.id}"/>
                        <button  type="submit" name="submit" value="value" class="reward__buy-button button"
                                th:text="${reward.price} + ' Coins'">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <ul class="header__points">
        <!-- <li class="header__point header__point--active">MUNDUS</li> -->
        <li class="Person" th:text="${child.name} + ' Level ' + ${child.getLevel()}"></a></li>
        <li class="stat" th:text="'Coins: ' + ${child.totalCoins}"></li>
        <li class="stat" th:text="'xp: ' + ${child.xp}"></li>
    </ul>
</footer>

</body>

</html>