<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org" lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rewards Parent</title>
    <link rel="stylesheet" th:href="@{/css/stylesMarketplaceParent.css}">
</head>

<body>

<header class="header">
    <ul class="header__points">
        <li class="header__point header__point--active">MUNDUS</li>
        <li class="header__point"><a th:href="@{quests}" class = "link">Quest Log</a></li>
        <li class="header__point"><a th:href="@{marketplace}"  class = "link">Marketplace</a></li>
        <li class="header__point"><a th:href="@{logoutPerson}"  class = "link">Switch Adventurer</a> </li>
        <li class="header__point"><a th:href="@{logoutAccount}"  class = "link">Log Out</a> </li>
    </ul>
</header>


<main class="main">
    <div class="reward-body">
        <div class="create-reward">
            <div class="create-reward__title">
                <h2 class="title">Create Reward</h2>
            </div>
            <div class="create-reward__form">
                <div class="container">
                    <form th:action="@{/createReward}" th:object="${reward}" method="post">
                        <p>Reward name <input type="text" name="name" id="name" th:field="*{name}"/></p>
                        <p>Reward description <textarea textarea class="text-area" type="" name="description" id="description" th:field="*{description}"/></p>
                        <p>Price<input type="number" name="price" id="price" th:value="*{price}"/></p>
                        <p>Level required:<input type="number" name="levelRequired" id="levelRequired"  th:value="*{levelRequired}"/></p>
                        <p>Due date<input type="date" name="endDate" id="endDate"  th:value="*{endDate}"/></p>
                        <input class="button" type="submit" value="Create Reward!"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="reward-content">
            <div class="reward-content__title">
                <h2 class="reward-view__title title">All Rewards</h2>
            </div>

            <div class="reward-container">
                <div th:each="reward : ${#lists.sort(allRewards)}" class="reward">
                    <h3 th:text="${reward.name}" class="reward__title"></h3>
                    <div class="reward__content">
                        <p th:text="${reward.description}" class="reward__text"></p>
                        <p th:text="${reward.endDate}" class="reward__date"></p>
                        <p th:text="'Level required: ' + ${reward.levelRequired}" class="reward__level"></p>
                    </div>

                    <form class="reward__footer" method="POST" th:action="@{/deletereward}">
                        <input type="hidden" name="id" th:value="${reward.id}"/>
                        <button class="reward__remove-button">Remove</button>
                        <p th:text="'Price: ' + ${reward.price}" class="reward__price"></p>
                    </form>

                </div>

            </div>
        </div>
        <div class="purchased-rewards">
            <div class="purchased-rewards__title">
                <h2 class="title">Purchased Rewards</h2>
            </div>

            <div th:each="rewardPair : ${purchasedRewards}" class="reward__purchased">
                <h3 th:text="${rewardPair.value.name}" class="reward__title"></h3>
                <div class="reward__content">
                    <p th:text="${rewardPair.value.description}" class="reward__text"></p>
                    <p th:text="${rewardPair.value.endDate}" class="reward__date"></p>
                    <p th:text="'Level required: ' + ${rewardPair.value.levelRequired}" class="reward__level"></p>
                </div>

                <form class="reward__footer" method="POST" th:action="@{/grantReward}">
                    <input type="hidden" name="rewardId" th:value="${rewardPair.value.id}"/>
                    <input type="hidden" name="childId" th:value="${rewardPair.key.id}"/>
                    <button class="reward__granted-button">Granted</button>
                    <p th:text="${rewardPair.key.name}" class="reward__purchaser"></p>
                </form>

            </div>

        </div>
    </div>
    </div>
</main>

<footer class="footer">
    <ul class="header__points">
        <li class="header__point" th:text="'Lord ' + ${parent.name}"></a></li>
        <li class = "header__point"><a th:href="@{createQuest}" class = "link">Create New Quest</a></li>
        <li class = "header__point"><a th:href="@{createChild}" class = "link">Add New Champion</a></li>
    </ul>
</footer>

</body>

</html>