<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marketplace</title>
    <link rel="stylesheet" th:href="@{/marketplaceChild-styles.css}">
</head>

<body>

<header class="header">
    <ul class="header__points">
        <li class="header__point header__point--active">MUNDUS</li>
        <li class="header__point" th:text="${child.name}"></li>
        <li class="header__point" th:text="'Coins: ' + ${child.totalCoins}">Coins: 1337</li>
        <li class="header__point" th:text="'xp: ' + ${child.xp}">xp: 9999</li>
    </ul>
</header>
<div class="sidenav">
    <ul>
        <li><a href="#">Quest Log</a></li>
        <li><a href="#">Rewards</a></li>
        <li><a href="#">Options</a></li>
    </ul>
</div>

<main class="main">
    <div class="reward-view">
        <div class="reward-view__title-content">
            <h2 class="reward-view__title">Your Rewards</h2>
        </div>

        <div th:each="reward : ${ownrewards}" class="reward">
            <h3 th:text="${reward.name}" class="reward__title"></h3>
            <div class="reward__content">
                <p th:text="${reward.description}" class="reward__text"></p>
                <p th:text="${reward.endDate}" class="reward__date"></p>
            </div>
        </div>

    </div>

    <div class="reward-content">
        <div class="reward-view__title-content">
            <h2 class="reward-view__title">What do you need?</h2>
        </div>
        <div class="reward-container">
            <div th:each="reward : ${rewards}" class="reward">
                <h3 th:text="${reward.name}" class="reward__title"></h3>
                <div class="reward__content">
                    <p th:text="${reward.description}" class="reward__text"></p>
                    <p th:text="${reward.endDate}" class="reward__date"></p>
                </div>
                <form class="reward__footer" method="POST" th:action="@{/purchaseReward}">
                    <input type="hidden" name="id" th:value="${reward.id}"/>
                    <button type="submit" name="submit" value="value" class="reward__buy-button"
                            th:text="${reward.price} + 'coins'">
                    </button>
                </form>
            </div>
        </div>

    </div>
</main>


</body>

</html>