<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quest View</title>
</head>
<body>
<div >
    <div th:each="person : ${persons}">
        <h2 th:text="${person.name}"></h2>
        <form method="POST" th:action="@{/quest-view}">
            <input type="hidden" name="id"  th:value="${person.id}" />
            <button type="submit" name="submit" value="value" class="link-button">This is a link that sends a POST request</button>
        </form>
    </div>

</div>
</body>
</html>