<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pin</title>
</head>
<body>
<div>
    <form method="POST" th:action="@{/pin-page}">
        <input name="pin" type="text" placeholder="PIN" />
        <button type="submit" name="submit" value="value" class="link-button">This is a link that sends a POST request</button>
        <br>
        <button id="number" type="submit">1</button>
        <button id="number" type="submit">2</button>
        <button id="number" type="submit">3</button>
        <br>
        <button id="number" type="submit">4</button>
        <button id="number" type="submit">5</button>
        <button id="number" type="submit">6</button>
        <br>
        <button id="number" type="submit">7</button>
        <button id="number" type="submit">8</button>
        <button id="number" type="submit">9</button>
    </form>
</div>

</body>
</html>