<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quest View</title>
</head>
<body>
    <h2 th:text="${child.name}"></h2>
    <h2 th:text="${child.totalCoins}"></h2>
    <h2 th:text="${child.xp}"></h2>

    <div th:each="quest : ${quests}">
        <h2 th:text="${quest.name}"></h2>
        <p th:text="${quest.description}"></p>
        <h2 th:text="${quest.xp}"></h2>
        <h2 th:text="${quest.coins}"></h2>
        <h2 th:text="${quest.isDone} ? 'Finished' : 'Unfinished'"></h2>
    </div>

</body>
</html>