<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">

<head>
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quests</title>
    <link rel="stylesheet" th:href="@{/css/stylesQuestViewChild.css}">
</head>

<body>

<header class="header">
    <ul class="header__points">
        <li class="Mundus">MUNDUS</li>
        <li class="header__point"><a th:href="@{quests}" class = "link">Quest Log</a></li>
        <li class="header__point"><a th:href="@{marketplace}" class = "link">Marketplace</a></li>
        <li class="header__point"><a th:href="@{logoutPerson}" class = "link">Switch Adventurer</a> </li>
        <li class="header__point"><a th:href="@{logoutAccount}" class = "link">Log Out</a> </li>
    </ul>
</header>

<main>
    <div class="logs">
        <div class="log">
            <div class="quests">
                <h2 class="log__name">All Quests</h2>
                <div class="quests__content">
                        <div class="quest" th:each="quest : ${#lists.sort(availableQuests)}">
                            <h2 class="quest__name" th:text="${quest.name}"></h2>
                            <h3 class="quest__xp" th:text="'XP: ' + ${quest.xp}"></h3>
                            <h3 class="quest__coins" th:text="'Coins: ' + ${quest.coins}"></h3>
                            <h3 class="quest__deadline" th:text="'Deadline: ' + ${quest.deadline}"></h3>
                            <p class="quest__description" th:text="${quest.description}" hidden></p>
                            <h3 class="quest__status" hidden>Status: Available</h3>
                            <form method="POST" class = "delete" th:action="@{/deleteQuest}">
                                <input class = "quest__id" type="hidden" name="id"  th:value="${quest.id}" />
                                <button type="submit" name="submit" value="value" class="view__delete" style="display: none">Delete</button>
                            </form>
                            <form method="POST" class = "assignee" th:action="@{/assignQuestParent}">
                                <input class = "quest__id" type="hidden" name="questId"  th:value="${quest.id}" />
                                <select name = "childId" class = "view__assignee" style="display: none">
                                    <option value="-1">No One</option>
                                    <option th:each="child : ${parent.children}" th:value="${child.id}" th:text="${child.name}">
                                    </option>
                                </select>
                                <button type="submit" name="submit" value="value" class="view__assigneeButton" style="display: none">Set assignee</button>
                            </form>
                            <!--<a th:href="@{assignQuest}" type="hidden" class ="assign"><button class="view__assign" style="display: none;">Assign to me</button></a> -->
                        </div>
                </div>
            </div>

            <div class="myQuests">
                <h2 class="log__name">Ongoing Quests</h2>
                <div class="quests__content">
                    <div class="quest" th:each="quest : ${#lists.sort(onGoingQuests)}">
                        <h2 class="quest__name" th:text="${quest.name}"></h2>
                        <h3 class="quest__xp" th:text="'XP: ' + ${quest.xp}"></h3>
                        <h3 class="quest__coins" th:text="'Coins: ' + ${quest.coins}"></h3>
                        <h3 class="quest__deadline" th:text="'Deadline: ' + ${quest.deadline}"></h3>
                        <p class="quest__description" th:text="${quest.description}" hidden></p>
                        <h3 class="quest__status" hidden th:text = "'Status: Assigned to '  + ${quest.assignee.name}"></h3>
                        <form method="POST" class = "delete" th:action="@{/deleteQuest}">
                            <input class = "quest__id" type="hidden" name="questId"  th:value="${quest.id}" />
                            <button type="submit" name="submit" value="value" class="view__delete" style="display: none;">Delete</button>
                        </form>
                        <form method="POST" class = "assignee" th:action="@{/assignQuestParent}">
                            <input class = "quest__id" type="hidden" name="questId"  th:value="${quest.id}" />
                            <select name = "childId" class = "view__assignee" style="display: none">
                                <option th:value="${quest.assignee.id}" th:text="${quest.assignee.name}"></option>
                                <option th:each="child : ${parent.children}"   th:if="${child != quest.assignee}" th:value="${child.id}" th:text="${child.name}">
                                </option>
                                <option th:value=-1>No One</option>
                            </select>
                            <button type="submit" name="submit" value="value" class="view__assigneeButton" style="display: none">Set assignee</button>
                        </form>
                    <!--<a th:href="@{assignQuest}" type="hidden" class ="assign"><button class="view__assign" style="display: none;">Assign to me</button></a> -->
                    </div>
                </div>
            </div>

            <div class="pending">
                <h2 class="log__name">Finished</h2>
                <div class="quests__content">
                    <div class="quest" th:each="quest : ${#lists.sort(doneQuests)}">
                        <h2 class="quest__name" th:text="${quest.name}"></h2>
                        <h3 class="quest__xp" th:text="'XP: ' + ${quest.xp}"></h3>
                        <h3 class="quest__coins" th:text="'Coins: ' + ${quest.coins}"></h3>
                        <h3 class="quest__deadline" th:text="'Deadline: ' + ${quest.deadline}"></h3>
                        <p class="quest__description" th:text="${quest.description}" hidden></p>
                        <h3 class="quest__status" hidden>Status: Available</h3>
                        <form method="POST" class = "confirm" th:action="@{/markQuestAsConfirmed}">
                            <input class = "quest__id" type="hidden" name="id"  th:value="${quest.id}" />
                            <button type="submit" name="submit" value="value" class="view__confirm" style="display: none;">Confirm</button>
                        </form>
                        <form method="POST" class = "deny" th:action="@{/markQuestAsNotDone}">
                            <input class = "quest__id" type="hidden" name="id"  th:value="${quest.id}" />
                            <button type="submit" name="submit" value="value" class="view__deny" style="display: none;">Deny</button>
                        </form>
                        <!--<a th:href="@{assignQuest}" type="hidden" class ="assign"><button class="view__assign" style="display: none;">Assign to me</button></a> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="view">
            <h2 class="log__name">Details</h2>
        </div>

    </div>
</main>

<footer class="footer">
    <ul class="header__points">
        <li class="Person" th:text="'Lord ' + ${parent.name}"></a></li>
        <li class = "header__point"><a th:href="@{createQuest}" class = "link">Create New Quest</a></li>
        <li class = "header__point"><a th:href="@{createChild}" class = "link">Add New Champion</a></li>
    </ul>
</footer>




<script th:src="@{/js/questViewParentScript.js}"></script>
</body>

</html>