<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quests</title>
    <link rel="stylesheet" th:href="@{/css/stylesQuestViewChild.css}">
</head>

<body>

<header class="header">
    <ul class="header__points">
        <li class="header__point header__point--active">MUNDUS</li>
        <li class="header__point"><a th:href="@{quests}">Quest Log</a></li>
        <li class="header__point"><a th:href="@{marketplace}">Marketplace</a></li>
        <li class="header__point"><a>Options</a></li>
    </ul>
</header>
<!-- <div class="sidenav">

    <ul>
        <li><button>Quest Log</button></li>
        <li><button>Rewards</button></li>
        <li><button>Options</button></li>
    </ul>
</div> -->

<main>
    <div class="logs">
        <div class="log">
            <div class="quests">
                <h2 class="log__name">Quests</h2>
                <div class="quests__content" >
                    <div class="quest" th:each="quest : ${availableQuests}">
                        <h2 class="quest__name" th:text="${quest.name}"></h2>
                        <h3 class="quest__xp" th:text="'XP: ' + ${quest.xp}"></h3>
                        <h3 class="quest__coins" th:text="'Coins: ' + ${quest.coins}"></h3>
                        <h3 class="quest__deadline" th:text="'Deadline: ' + ${quest.deadline}"></h3>
                        <p class="quest__description" th:text="${quest.description}" hidden></p>
                        <h3 class="quest__status" hidden>Status: Available</h3>
                        <form method="POST" class = "assign" th:action="@{/assignQuest}">
                            <input class = "quest__id" type="hidden" name="id"  th:value="${quest.id}" />
                            <button type="submit" name="submit" value="value" class="view__assign" style="display: none;">Assign to me</button>
                        </form>
                        <!--<a th:href="@{assignQuest}" type="hidden" class ="assign"><button class="view__assign" style="display: none;">Assign to me</button></a> -->
                    </div>
                </div>
            </div>

            <div class="myQuests">
                <h2 class="log__name">My Quests</h2>
                <div class="quests__content" >
                    <div class="quest" th:each="quest : ${assignedQuests}">
                        <h2 class="quest__name" th:text="${quest.name}"></h2>
                        <h3 class="quest__xp" th:text="'XP: ' + ${quest.xp}"></h3>
                        <h3 class="quest__coins" th:text="'Coins: ' + ${quest.coins}"></h3>
                        <h3 class="quest__deadline" th:text="'Deadline: ' + ${quest.deadline}"></h3>
                        <p class="quest__description" th:text="${quest.description}" hidden></p>
                        <h3 class="quest__status" hidden>Status: Available</h3>
                        <form method="POST" class = "done" th:action="@{/markQuestAsDone}">
                            <input class = "quest__id" type="hidden" name="id"  th:value="${quest.id}" />
                            <button type="submit" name="submit" value="value" class="view__done" style="display: none;">Done</button>
                        </form>

                        <!--<a th:href="@{markQuestAsDone}" type="hidden" class ="done"><button class="view__done" style="display: none;">Done</button></a>-->
                        <form method="POST" class = "assign" th:action="@{/unassignQuest}">
                            <input class = "quest__id" type="hidden" name="id"  th:value="${quest.id}" />
                            <button type="submit" name="submit" value="value" class="view__assign" style="display: none;">Unassign</button>
                        </form>
                       <!-- <a th:href="@{unAssignQuest}" type="hidden" class ="assign"><button class="view__assign"style="display: none;">Unassign</button></a>-->
                    </div>
                </div>

            </div>

            <div class="pending">
                <h2 class="log__name">Pending</h2>
                    <div class="quests__content" >
                        <div class="quest" th:each="quest : ${doneQuests}" th:if="${quest.isDone}">
                            <h2 class="quest__name" th:text="${quest.name}"></h2>
                            <h3 class="quest__xp" th:text="'XP: ' + ${quest.xp}"></h3>
                            <h3 class="quest__coins" th:text="'Coins: ' + ${quest.coins}"></h3>
                            <h3 class="quest__deadline" th:text="'Deadline: ' + ${quest.deadline}"></h3>
                            <p class="quest__description" th:text="${quest.description}" hidden></p>
                            <h3 class="quest__status" hidden>Status: Available</h3>
                            <form method="POST" class = "done" th:action="@{/markQuestAsNotDone}">
                                <input class = "quest__id" type="hidden" name="id"  th:value="${quest.id}" />
                                <button type="submit" name="submit" value="value" class="view__done" style="display: none;">Not Done</button>
                            </form>

                            <!--<a th:href="@{markQuestAsNotDone}" type="hidden" class ="done"><button class="view__done" style="display: none;">Not Done</button></a>-->
                        </div>
                    </div>

            </div>
        </div>


        <div class="view">
            <h2 class="log__name">Details</h2>
        </div>
    </div>

</main>

<footer class="footer">
    <ul class="header__points">
        <li class="header__point" th:text="${child.name} + ' Level ' + ${child.getLevel()}"></a></li>
        <li class="header__point" th:text="'Coins: ' + ${child.totalCoins}"></li>
        <li class="header__point" th:text="'XP: ' + ${child.xp}"></li>
    </ul>
</footer>


<script th:src="@{/js/questViewChildScript.js}"></script>
</body>

</html>