<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task information</title>
</head>
<body>
<button>back</button> <p>Task Information</p> <br>
<form>
    <input type="text" name="TaskName" placeholder="Task Name"> <br>
    <input type="text" name="Coins" placeholder="Coins (reward)"> <br>
    <input type="text" name="TaskName" placeholder="Xp (reward)"> <br>
    <textarea rows="4" cols="50">
Describe the task here...
</textarea>
    <button>Submit</button>

</form>
</body>
</html>